<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="style/style.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
 

	</head>
	<body>
<!--
<nav class="navbar navbar-default">
  <div class="container-fluid"> 
    <div class="navbar-header">
       
      <a class="navbar-brand" href="#">Debatable</a>
    </div>

   
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       
       
      <ul class="nav navbar-nav navbar-right">
         
      </ul>
    </div> 
  </div> 
</nav>
		-->
		<div class="container-fluid header_background">
			<div class="row">
				<div class="jumbotron">
				  <h1>Debatable</h1>
				  <h2 class="lead">The realtime debating website for all your mass debate needs.</p>
				</div>
			</div>
		</div>



 
		 
		<!--<div class="container-fluid debate_feed">
			<div class="row debate_row">
				<div class="col-xs-6">
					<div class="debate_card">
						TRUMP
						<button class="join_debate" data-debateName = "trump">Join Debate</button>
						<button class="spectate_debate" data-debateName = "trump">Spectate Debate</button>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="debate_card">
						dogs vs cats
						<button class="join_debate" data-debateName = "dogs vs cats">Join Debate</button>
						<button class="spectate_debate" data-debateName = "dogs vs cats">Spectate Debate</button>
					</div>
				</div>
			</div>
		</div>-->
		 
<br><br>


		<div class="container-fluid debate_feed">
			<div class="row debate_row">
				<div class="col-xs-6">
					<div class="debate_card">
						<%= topic_list[0].topic_name %> - <br> 
						<%= topic_list[0].topic_desc %>
						<br>
						<img src="<%= topic_list[0].topic_image %>" width=400 height=300 />
						<button class="join_debate" data-debateName = "<%= topic_list[0].topic_name_short %>">Join Debate</button>
						<button class="spectate_debate" data-debateName = "<%= topic_list[0].topic_name_short %>">Spectate Debate</button>
					</div>
				</div> 
			</div>
		</div>
		 
	 
	 
	 




		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 


	      <script>
	      	$(".join_debate").click(function($this){
	      		console.log("Clicked to join debate: " , $(this).attr("data-debateName"));
	      		var destination = '/chat/'+ $(this).attr("data-debateName") + '/join/';   
	      		window.location.href = destination;


	      	});

	      	$(".spectate_debate").click(function($this){
	      		console.log("Clicked to spectate debate: " , $(this).attr("data-debateName"));
	      		var destination = '/chat/'+ $(this).attr("data-debateName") + '/spectate/';   
	      		window.location.href = destination; 

	      	});

 
 			




	      </script>


	</body>
</html>